<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>6SilverBlack</key>
	<dict>
		<key>CFBundleIconFiles</key>
		<array>
			<string>Icon6SilverBlack-1024x1024</string>
			<string>Icon6SilverBlack-20x20@1x</string>
			<string>Icon6SilverBlack-20x20@2x</string>
			<string>Icon6SilverBlack-20x20@3x</string>
			<string>Icon6SilverBlack-29x29@1x</string>
			<string>Icon6SilverBlack-29x29@2x</string>
			<string>Icon6SilverBlack-29x29@3x</string>
			<string>Icon6SilverBlack-40x40@1x</string>
			<string>Icon6SilverBlack-40x40@2x</string>
			<string>Icon6SilverBlack-40x40@3x</string>
			<string>Icon6SilverBlack-60x60@1x</string>
			<string>Icon6SilverBlack-60x60@2x</string>
			<string>Icon6SilverBlack-60x60@3x</string>
			<string>Icon6SilverBlack-76x76@1x</string>
			<string>Icon6SilverBlack-76x76@2x</string>
			<string>Icon6SilverBlack-83.5x83.5@2x</string>
		</array>
		<key>UIPrerenderedIcon</key>
		<true/>
	</dict>
</dict>
</plist>
