<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Icon6BlackBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon6BlackBlack-1024x1024</string>
					<string>Icon6BlackBlack-20x20@1x</string>
					<string>Icon6BlackBlack-20x20@2x</string>
					<string>Icon6BlackBlack-20x20@3x</string>
					<string>Icon6BlackBlack-29x29@1x</string>
					<string>Icon6BlackBlack-29x29@2x</string>
					<string>Icon6BlackBlack-29x29@3x</string>
					<string>Icon6BlackBlack-40x40@1x</string>
					<string>Icon6BlackBlack-40x40@2x</string>
					<string>Icon6BlackBlack-40x40@3x</string>
					<string>Icon6BlackBlack-60x60@1x</string>
					<string>Icon6BlackBlack-60x60@2x</string>
					<string>Icon6BlackBlack-60x60@3x</string>
					<string>Icon6BlackBlack-76x76@1x</string>
					<string>Icon6BlackBlack-76x76@2x</string>
					<string>Icon6BlackBlack-83.5x83.5@2x</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Icon6BlackWhite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon6BlackWhite-1024x1024</string>
					<string>Icon6BlackWhite-20x20@1x</string>
					<string>Icon6BlackWhite-20x20@2x</string>
					<string>Icon6BlackWhite-20x20@3x</string>
					<string>Icon6BlackWhite-29x29@1x</string>
					<string>Icon6BlackWhite-29x29@2x</string>
					<string>Icon6BlackWhite-29x29@3x</string>
					<string>Icon6BlackWhite-40x40@1x</string>
					<string>Icon6BlackWhite-40x40@2x</string>
					<string>Icon6BlackWhite-40x40@3x</string>
					<string>Icon6BlackWhite-60x60@1x</string>
					<string>Icon6BlackWhite-60x60@2x</string>
					<string>Icon6BlackWhite-60x60@3x</string>
					<string>Icon6BlackWhite-76x76@1x</string>
					<string>Icon6BlackWhite-76x76@2x</string>
					<string>Icon6BlackWhite-83.5x83.5@2x</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Icon6SilverBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon6SilverBlack-1024x1024</string>
					<string>Icon6SilverBlack-20x20@1x</string>
					<string>Icon6SilverBlack-20x20@2x</string>
					<string>Icon6SilverBlack-20x20@3x</string>
					<string>Icon6SilverBlack-29x29@1x</string>
					<string>Icon6SilverBlack-29x29@2x</string>
					<string>Icon6SilverBlack-29x29@3x</string>
					<string>Icon6SilverBlack-40x40@1x</string>
					<string>Icon6SilverBlack-40x40@2x</string>
					<string>Icon6SilverBlack-40x40@3x</string>
					<string>Icon6SilverBlack-60x60@1x</string>
					<string>Icon6SilverBlack-60x60@2x</string>
					<string>Icon6SilverBlack-60x60@3x</string>
					<string>Icon6SilverBlack-76x76@1x</string>
					<string>Icon6SilverBlack-76x76@2x</string>
					<string>Icon6SilverBlack-83.5x83.5@2x</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Icon6SilverWhite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon6SilverWhite-1024x1024</string>
					<string>Icon6SilverWhite-20x20@1x</string>
					<string>Icon6SilverWhite-20x20@2x</string>
					<string>Icon6SilverWhite-20x20@3x</string>
					<string>Icon6SilverWhite-29x29@1x</string>
					<string>Icon6SilverWhite-29x29@2x</string>
					<string>Icon6SilverWhite-29x29@3x</string>
					<string>Icon6SilverWhite-40x40@1x</string>
					<string>Icon6SilverWhite-40x40@2x</string>
					<string>Icon6SilverWhite-40x40@3x</string>
					<string>Icon6SilverWhite-60x60@1x</string>
					<string>Icon6SilverWhite-60x60@2x</string>
					<string>Icon6SilverWhite-60x60@3x</string>
					<string>Icon6SilverWhite-76x76@1x</string>
					<string>Icon6SilverWhite-76x76@2x</string>
					<string>Icon6SilverWhite-83.5x83.5@2x</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>IconNoStrokeBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconNoStrokeBlack-1024x1024</string>
					<string>IconNoStrokeBlack-20x20@1x</string>
					<string>IconNoStrokeBlack-20x20@2x</string>
					<string>IconNoStrokeBlack-20x20@3x</string>
					<string>IconNoStrokeBlack-29x29@1x</string>
					<string>IconNoStrokeBlack-29x29@2x</string>
					<string>IconNoStrokeBlack-29x29@3x</string>
					<string>IconNoStrokeBlack-40x40@1x</string>
					<string>IconNoStrokeBlack-40x40@2x</string>
					<string>IconNoStrokeBlack-40x40@3x</string>
					<string>IconNoStrokeBlack-60x60@1x</string>
					<string>IconNoStrokeBlack-60x60@2x</string>
					<string>IconNoStrokeBlack-60x60@3x</string>
					<string>IconNoStrokeBlack-76x76@1x</string>
					<string>IconNoStrokeBlack-76x76@2x</string>
					<string>IconNoStrokeBlack-83.5x83.5@2x</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>IconNoStrokeWhite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconNoStrokeWhite-1024x1024</string>
					<string>IconNoStrokeWhite-20x20@1x</string>
					<string>IconNoStrokeWhite-20x20@2x</string>
					<string>IconNoStrokeWhite-20x20@3x</string>
					<string>IconNoStrokeWhite-29x29@1x</string>
					<string>IconNoStrokeWhite-29x29@2x</string>
					<string>IconNoStrokeWhite-29x29@3x</string>
					<string>IconNoStrokeWhite-40x40@1x</string>
					<string>IconNoStrokeWhite-40x40@2x</string>
					<string>IconNoStrokeWhite-40x40@3x</string>
					<string>IconNoStrokeWhite-60x60@1x</string>
					<string>IconNoStrokeWhite-60x60@2x</string>
					<string>IconNoStrokeWhite-60x60@3x</string>
					<string>IconNoStrokeWhite-76x76@1x</string>
					<string>IconNoStrokeWhite-76x76@2x</string>
					<string>IconNoStrokeWhite-83.5x83.5@2x</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>IconNotchy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconNotchy-1024x1024</string>
					<string>IconNotchy-20x20@1x</string>
					<string>IconNotchy-20x20@2x</string>
					<string>IconNotchy-20x20@3x</string>
					<string>IconNotchy-29x29@1x</string>
					<string>IconNotchy-29x29@2x</string>
					<string>IconNotchy-29x29@3x</string>
					<string>IconNotchy-40x40@1x</string>
					<string>IconNotchy-40x40@2x</string>
					<string>IconNotchy-40x40@3x</string>
					<string>IconNotchy-60x60@1x</string>
					<string>IconNotchy-60x60@2x</string>
					<string>IconNotchy-60x60@3x</string>
					<string>IconNotchy-76x76@1x</string>
					<string>IconNotchy-76x76@2x</string>
					<string>IconNotchy-83.5x83.5@2x</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>IconStrokeBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconStrokeBlack-1024x1024</string>
					<string>IconStrokeBlack-20x20@1x</string>
					<string>IconStrokeBlack-20x20@2x</string>
					<string>IconStrokeBlack-20x20@3x</string>
					<string>IconStrokeBlack-29x29@1x</string>
					<string>IconStrokeBlack-29x29@2x</string>
					<string>IconStrokeBlack-29x29@3x</string>
					<string>IconStrokeBlack-40x40@1x</string>
					<string>IconStrokeBlack-40x40@2x</string>
					<string>IconStrokeBlack-40x40@3x</string>
					<string>IconStrokeBlack-60x60@1x</string>
					<string>IconStrokeBlack-60x60@2x</string>
					<string>IconStrokeBlack-60x60@3x</string>
					<string>IconStrokeBlack-76x76@1x</string>
					<string>IconStrokeBlack-76x76@2x</string>
					<string>IconStrokeBlack-83.5x83.5@2x</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>IconStrokeWhite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string></string>
					<string>IconStrokeWhite-1024x1024</string>
					<string>IconStrokeWhite-20x20@1x</string>
					<string>IconStrokeWhite-20x20@2x</string>
					<string>IconStrokeWhite-20x20@3x</string>
					<string>IconStrokeWhite-29x29@1x</string>
					<string>IconStrokeWhite-29x29@2x</string>
					<string>IconStrokeWhite-29x29@3x</string>
					<string>IconStrokeWhite-40x40@1x</string>
					<string>IconStrokeWhite-40x40@2x</string>
					<string>IconStrokeWhite-40x40@3x</string>
					<string>IconStrokeWhite-60x60@1x</string>
					<string>IconStrokeWhite-60x60@2x</string>
					<string>IconStrokeWhite-60x60@3x</string>
					<string>IconStrokeWhite-76x76@1x</string>
					<string>IconStrokeWhite-76x76@2x</string>
					<string>IconStrokeWhite-83.5x83.5@2x</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Icon6BlackBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon6BlackBlack-1024x1024</string>
					<string>Icon6BlackBlack-20x20@1x</string>
					<string>Icon6BlackBlack-20x20@2x</string>
					<string>Icon6BlackBlack-20x20@3x</string>
					<string>Icon6BlackBlack-29x29@1x</string>
					<string>Icon6BlackBlack-29x29@2x</string>
					<string>Icon6BlackBlack-29x29@3x</string>
					<string>Icon6BlackBlack-40x40@1x</string>
					<string>Icon6BlackBlack-40x40@2x</string>
					<string>Icon6BlackBlack-40x40@3x</string>
					<string>Icon6BlackBlack-60x60@1x</string>
					<string>Icon6BlackBlack-60x60@2x</string>
					<string>Icon6BlackBlack-60x60@3x</string>
					<string>Icon6BlackBlack-76x76@1x</string>
					<string>Icon6BlackBlack-76x76@2x</string>
					<string>Icon6BlackBlack-83.5x83.5@2x</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Icon6BlackWhite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon6BlackWhite-1024x1024</string>
					<string>Icon6BlackWhite-20x20@1x</string>
					<string>Icon6BlackWhite-20x20@2x</string>
					<string>Icon6BlackWhite-20x20@3x</string>
					<string>Icon6BlackWhite-29x29@1x</string>
					<string>Icon6BlackWhite-29x29@2x</string>
					<string>Icon6BlackWhite-29x29@3x</string>
					<string>Icon6BlackWhite-40x40@1x</string>
					<string>Icon6BlackWhite-40x40@2x</string>
					<string>Icon6BlackWhite-40x40@3x</string>
					<string>Icon6BlackWhite-60x60@1x</string>
					<string>Icon6BlackWhite-60x60@2x</string>
					<string>Icon6BlackWhite-60x60@3x</string>
					<string>Icon6BlackWhite-76x76@1x</string>
					<string>Icon6BlackWhite-76x76@2x</string>
					<string>Icon6BlackWhite-83.5x83.5@2x</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Icon6SilverBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon6SilverBlack-1024x1024</string>
					<string>Icon6SilverBlack-20x20@1x</string>
					<string>Icon6SilverBlack-20x20@2x</string>
					<string>Icon6SilverBlack-20x20@3x</string>
					<string>Icon6SilverBlack-29x29@1x</string>
					<string>Icon6SilverBlack-29x29@2x</string>
					<string>Icon6SilverBlack-29x29@3x</string>
					<string>Icon6SilverBlack-40x40@1x</string>
					<string>Icon6SilverBlack-40x40@2x</string>
					<string>Icon6SilverBlack-40x40@3x</string>
					<string>Icon6SilverBlack-60x60@1x</string>
					<string>Icon6SilverBlack-60x60@2x</string>
					<string>Icon6SilverBlack-60x60@3x</string>
					<string>Icon6SilverBlack-76x76@1x</string>
					<string>Icon6SilverBlack-76x76@2x</string>
					<string>Icon6SilverBlack-83.5x83.5@2x</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Icon6SilverWhite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon6SilverWhite-1024x1024</string>
					<string>Icon6SilverWhite-20x20@1x</string>
					<string>Icon6SilverWhite-20x20@2x</string>
					<string>Icon6SilverWhite-20x20@3x</string>
					<string>Icon6SilverWhite-29x29@1x</string>
					<string>Icon6SilverWhite-29x29@2x</string>
					<string>Icon6SilverWhite-29x29@3x</string>
					<string>Icon6SilverWhite-40x40@1x</string>
					<string>Icon6SilverWhite-40x40@2x</string>
					<string>Icon6SilverWhite-40x40@3x</string>
					<string>Icon6SilverWhite-60x60@1x</string>
					<string>Icon6SilverWhite-60x60@2x</string>
					<string>Icon6SilverWhite-60x60@3x</string>
					<string>Icon6SilverWhite-76x76@1x</string>
					<string>Icon6SilverWhite-76x76@2x</string>
					<string>Icon6SilverWhite-83.5x83.5@2x</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>IconNoStrokeBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconNoStrokeBlack-1024x1024</string>
					<string>IconNoStrokeBlack-20x20@1x</string>
					<string>IconNoStrokeBlack-20x20@2x</string>
					<string>IconNoStrokeBlack-20x20@3x</string>
					<string>IconNoStrokeBlack-29x29@1x</string>
					<string>IconNoStrokeBlack-29x29@2x</string>
					<string>IconNoStrokeBlack-29x29@3x</string>
					<string>IconNoStrokeBlack-40x40@1x</string>
					<string>IconNoStrokeBlack-40x40@2x</string>
					<string>IconNoStrokeBlack-40x40@3x</string>
					<string>IconNoStrokeBlack-60x60@1x</string>
					<string>IconNoStrokeBlack-60x60@2x</string>
					<string>IconNoStrokeBlack-60x60@3x</string>
					<string>IconNoStrokeBlack-76x76@1x</string>
					<string>IconNoStrokeBlack-76x76@2x</string>
					<string>IconNoStrokeBlack-83.5x83.5@2x</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>IconNoStrokeWhite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconNoStrokeWhite-1024x1024</string>
					<string>IconNoStrokeWhite-20x20@1x</string>
					<string>IconNoStrokeWhite-20x20@2x</string>
					<string>IconNoStrokeWhite-20x20@3x</string>
					<string>IconNoStrokeWhite-29x29@1x</string>
					<string>IconNoStrokeWhite-29x29@2x</string>
					<string>IconNoStrokeWhite-29x29@3x</string>
					<string>IconNoStrokeWhite-40x40@1x</string>
					<string>IconNoStrokeWhite-40x40@2x</string>
					<string>IconNoStrokeWhite-40x40@3x</string>
					<string>IconNoStrokeWhite-60x60@1x</string>
					<string>IconNoStrokeWhite-60x60@2x</string>
					<string>IconNoStrokeWhite-60x60@3x</string>
					<string>IconNoStrokeWhite-76x76@1x</string>
					<string>IconNoStrokeWhite-76x76@2x</string>
					<string>IconNoStrokeWhite-83.5x83.5@2x</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>IconNotchy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconNotchy-1024x1024</string>
					<string>IconNotchy-20x20@1x</string>
					<string>IconNotchy-20x20@2x</string>
					<string>IconNotchy-20x20@3x</string>
					<string>IconNotchy-29x29@1x</string>
					<string>IconNotchy-29x29@2x</string>
					<string>IconNotchy-29x29@3x</string>
					<string>IconNotchy-40x40@1x</string>
					<string>IconNotchy-40x40@2x</string>
					<string>IconNotchy-40x40@3x</string>
					<string>IconNotchy-60x60@1x</string>
					<string>IconNotchy-60x60@2x</string>
					<string>IconNotchy-60x60@3x</string>
					<string>IconNotchy-76x76@1x</string>
					<string>IconNotchy-76x76@2x</string>
					<string>IconNotchy-83.5x83.5@2x</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>IconStrokeBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconStrokeBlack-1024x1024</string>
					<string>IconStrokeBlack-20x20@1x</string>
					<string>IconStrokeBlack-20x20@2x</string>
					<string>IconStrokeBlack-20x20@3x</string>
					<string>IconStrokeBlack-29x29@1x</string>
					<string>IconStrokeBlack-29x29@2x</string>
					<string>IconStrokeBlack-29x29@3x</string>
					<string>IconStrokeBlack-40x40@1x</string>
					<string>IconStrokeBlack-40x40@2x</string>
					<string>IconStrokeBlack-40x40@3x</string>
					<string>IconStrokeBlack-60x60@1x</string>
					<string>IconStrokeBlack-60x60@2x</string>
					<string>IconStrokeBlack-60x60@3x</string>
					<string>IconStrokeBlack-76x76@1x</string>
					<string>IconStrokeBlack-76x76@2x</string>
					<string>IconStrokeBlack-83.5x83.5@2x</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>IconStrokeWhite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string></string>
					<string>IconStrokeWhite-1024x1024</string>
					<string>IconStrokeWhite-20x20@1x</string>
					<string>IconStrokeWhite-20x20@2x</string>
					<string>IconStrokeWhite-20x20@3x</string>
					<string>IconStrokeWhite-29x29@1x</string>
					<string>IconStrokeWhite-29x29@2x</string>
					<string>IconStrokeWhite-29x29@3x</string>
					<string>IconStrokeWhite-40x40@1x</string>
					<string>IconStrokeWhite-40x40@2x</string>
					<string>IconStrokeWhite-40x40@3x</string>
					<string>IconStrokeWhite-60x60@1x</string>
					<string>IconStrokeWhite-60x60@2x</string>
					<string>IconStrokeWhite-60x60@3x</string>
					<string>IconStrokeWhite-76x76@1x</string>
					<string>IconStrokeWhite-76x76@2x</string>
					<string>IconStrokeWhite-83.5x83.5@2x</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>46</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Notchy uses photo library access to let you to edit your screenshots.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Regular.otf</string>
		<string>Montserrat-Medium.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
